body {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 20px auto;
}

h1  {
    text-align: center;
    color: #0044cc;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
    color: #0044cc;
}

.info .left, .info .right {
    line-height: 1.6;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
}

.header1 {
    background-color: yellow; /* vàng đậm */
}

.header2 {
    background-color: #ffe599; /* vàng nhạt */
}

tr:nth-child(even):not(.header1):not(.header2) {
    background-color: #f9f9f9;
}
